<?php

return [
    'social-oauth2' => [
        "redirect_endpoint" => 'http://clingr.dev:9000/admin',
        "providers" => [
            // openid providers
            "OpenID" => [
                "enabled" => false
            ],

            "Yahoo" => [
                "enabled" => false,
                "keys"    => [ "id" => "", "secret" => "" ],
            ],

            "AOL"  => [
                "enabled" => false
            ],

            "Google" => [
                "enabled" => false,
                "keys"    => [ "id" => "", "secret" => "" ],
            ],

            "Facebook" => [
                "enabled" => false,
                "keys"    => [ "id" => "", "secret" => "" ],
            ],

            "Twitter" => [
                "enabled" => false,
                "keys"    => [ "key" => "", "secret" => "" ]
            ],

            // windows live
            "Live" => [
                "enabled" => false,
                "keys"    => [ "id" => "", "secret" => "" ]
            ],

            "MySpace" => [
                "enabled" => false,
                "keys"    => [ "key" => "", "secret" => "" ]
            ],

            "LinkedIn" => [
                "enabled" => false,
                "keys"    => [ "key" => "", "secret" => "" ]
            ],

            "Foursquare" => [
                "enabled" => false,
                "keys"    => [ "id" => "", "secret" => "" ]
            ],
        ],

        // if you want to enable logging, set 'debug_mode' to true  then provide a writable file by the web server on "debug_file"
        "debug_mode" => false,

        "debug_file" => "",
    ],
];
